<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">

<head>
<title th:text="${livro.nome}">Viña</title>

<link rel="stylesheet" type="text/css"
	th:href="@{/stylesheets/vendors/upload.min.css}" />
</head>
<body>
	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<h1>Alteração de Livro</h1>
			</div>
		</div>

		<div class="container-fluid">

			<div class="alert  alert-success  alert-dismissible" role="alert"
				th:if="${not #strings.isEmpty(mensagem)}">
				<button type="button" class="close" data-dismiss="alert">
					<span aria-hidden="true">&times;</span>
				</button>
				<span th:text="${mensagem}"></span>
			</div>

			<form method="POST" th:object="${livro}"
				class="form-vertical  js-form-loading" th:action="@{/livro/salvar}">

				<div class="container-fluid">
					<div class="rol">
						<div class="col-sm-4">
							<ul class="list-group">
								<li class="list-group-item"><img
									th:src="@{'/images/'+${livro.foto}}" /></li>
							</ul>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<div class="form-group"
									th:classappend="${#fields.hasErrors('codigo')} ? has-error">
									<label for="nome" class="control-label">Codigo</label> <input
										id="nome" type="text" class="form-control"
										th:field="*{codigo}" />
								</div>

								<div class="form-group"
									th:classappend="${#fields.hasErrors('foto')} ? has-error">
									<label for="nome" class="control-label">Foto</label> <input
										id="nome" type="text" class="form-control" th:field="*{Foto}" />
								</div>

								<div class="form-group"
									th:classappend="${#fields.hasErrors('nome')} ? has-error">
									<label for="nome" class="control-label">Nome</label> <input
										id="nome" type="text" class="form-control" th:field="*{nome}" />
								</div>
								<div class="row">

									<div class="col-sm-6  form-group"
										th:classappend="${#fields.hasErrors('volume')} ? has-error">
										<label for="volume" class="control-label">Volume</label> <input
											id="volume" type="text" class="form-control"
											th:field="*{volume}" />
									</div>

									<div class="col-sm-6  form-group"
										th:classappend="${#fields.hasErrors('valor')} ? has-error">
										<label for="valor" class="control-label">Valor</label> <input
											id="valor" type="text" class="form-control"
											th:field="*{valor}" />
									</div>

									<div class="col-sm-6  form-group"
										th:classappend="${#fields.hasErrors('ult_leitura')} ? has-error">
										<label for="volume" class="control-label">ult_leitura</label>
										<input id="volume" type="text" class="form-control"
											th:field="*{ult_leitura}" />
									</div>

									<div class="col-sm-6  form-group"
										th:classappend="${#fields.hasErrors('ult_vol_comprado')} ? has-error">
										<label for="valor" class="control-label">ult_vol_comprado</label>
										<input id="valor" type="text" class="form-control"
											th:field="*{ult_vol_comprado}" />
									</div>
								</div>
								<div class="form-group">
									<button class="btn  btn-primary" type="submit">Salvar</button>
								</div>
							</div>
						</div>
					</div>
				</div>




			</form>
		</div>

	</section>
</body>
</html>